[Unit]
Description=Watcher Prover

[Service]
WorkingDirectory=/home/admin/starknet_stack/watcher_prover/
Restart=on-failure
ExecStart=/home/admin/starknet_stack/watcher_prover/entrypoint.sh
ExecReload=/bin/kill -HUP
KillSignal=SIGTERM
EnvironmentFile=/home/admin/.env

[Install]
WantedBy=multi-user.target
