[Unit]
Description={{ inventory_hostname }}

[Service]
WorkingDirectory=/home/{{ ansible_user }}/starknet_stack/sequencer/target
Restart=on-failure
ExecStart=/home/{{ ansible_user }}/starknet_stack/sequencer/target/release/node -vv run --keys /home/{{ ansible_user }}/config/sequencer_{{ inventory_hostname }}.json --committee /home/{{ ansible_user }}/config/committee.json --store /home/{{ ansible_user }}/db-{{ inventory_hostname }} --parameters /home/{{ ansible_user }}/config/parameters.json
ExecReload=/bin/kill -HUP
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
